.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

h1 {
  color: #FFE600;
  background-color: #252525;
  font-size: 50px;
}

p {
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr {
  color: #000000;
}

th {
  background-color: #FFE600;
}

.summonertext {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bar-header {
  background-color: #252525;
  height: 130px;
  width: 100% ;
  padding: 10px;
  margin-bottom: 35px;
}

button {
  background-color: #FFE600;
  color: black;
  border: none;
}
